<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="field">
    <%= f.label :name %>
    
  </div>
  <div class="field">
    <%= f.label :from %>
    <%= f.text_field :from, :class => 'address-picker-input' %>
  </div>
  <div class="field">
    <%= f.label :to %>
    <%= f.text_field :to, :class => 'address-picker-input' %>
  </div>
  <div class="field">
    <%= f.label :date %>
    <%= f.text_field :date, :class=> "field shorter"  %>
  </div>
  <div class="field">
    <%= f.label :price %>
    R<%= f.number_field :price, :min=>"0", :class=> "field shorter" %>
  </div>
  <div class="field">
    <%= f.label :seat, "Seats Available" %>
    <%= f.select :seat, Post::NUMBER_OF_SEATS %>
  </div>
  <div class="field">
   <%= f.label :bagroom %>
   <%= f.select :bagroom, Post::BAG_ROOM %>
  </div>
  <!-- ============================================================================ -->

    <script type="text/javascript">

        //AddressPickerRails.Pickers.applyOnReady({
        //    'onLoad':function (railsPicker) {
        //        console.debug("callback for a single pond with ID '%s'", railsPicker.getIdPrefix());
        //    }
        //});

        AddressPickerRails.Pickers.apply({
            'onLoad':function (railsPicker) {
                console.debug("callback for a single post with ID '%s'", railsPicker.getIdPrefix());
            }
        });
        
        
         
    </script>

    <!-- ============================================================================ -->
    
  <div class="actions">
    <%= f.submit "Post Your Ride", class:"btn btn-warning" %>
  </div>
<% end %>
