


<div class="homesearch">
<div class="container">

<h2>Type in any location to see what rides are available:</h2>
<%= search_form_for @q do |f| %>
  <div class="field">
    <%= f.text_field :from_cont %>
  </div>
  <%= f.submit "Search", class:"btn btn-warning" %>
<% end %>

<h2>Search results</h2>
</div>
</div>

<div class="lists">


<ol class="limeposts">

<% if @posts.empty? %>
  Sorry, no one is offering a lift here :(
 <% else %>

 <% @posts.each do |post| %>
  <li>
  <div class="limeskin">
  <div class="limebox">
  <div class="limecost">
  <p><%= number_to_currency(post.price, :unit => "R") %> </p> 
  <p><%= post.seat %> </p> 
  </div>
  <div class="limeface">
  <%=post.user.name%>
  </div>
  <div class="limecontent">
    From:
    <%= post.from %>
    To:
    <%= post.to %>
    <p>Date:</p>
    <p><%= post.date %></p>
  </div>
  
  </div>
  </div>
  </li>
 <% end %>
 <% end %>
 




</ol>

</div>






