<p id="notice"><%= notice %></p>

<p>
  <b>From:</b>
  <%= @post.from %>
</p>

<p>
  <b>To:</b>
  <%= @post.to %>
</p>

<p>
  <b>Date:</b>
  <%= @post.date.strftime("%b %d %Y") %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
