<header class="navbar">
  <div class="navbar-inner">
     <div class="container"> 
      <%= link_to "ALift", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
           <li> <%= link_to 'Post A Ride', newride_path, :class => 'btn btn-warning' %></li>
        
         <% if user_signed_in? %>
           <li><%= link_to current_user.email, '#' %></li>
           <li><%= link_to 'Edit profile', edit_user_registration_path %> </li>
           <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
            <% else %>
           <li><%= link_to "Sign up", new_user_registration_path %></li>
           <li><%= link_to "Login", new_user_session_path %></li>
         <% end %>
         
        </ul>
      </nav>
    </div>
  </div>
</header>