<header class="navbar">
  <div class="navbar-inner">
     <div class="container"> 
      <%= link_to "Whooride", root_path, id: "logo" %>
      
      <nav>
        <ul class="nav pull-right">
        <li>
       <li> <%= link_to 'Search A Ride', root_path, :class => 'btn btn-success' %> </li>
       <li> <a>| </a></li>
       <li> <%= link_to 'Post A Ride', newride_path, :class => 'btn btn-success' %> </li>
          
          <% if current_user %>
    	  <li> <a>Signed in as <strong><%= current_user.name %></strong></a></li>
          <li> <%= link_to "Sign out", signout_path, id: "sign_out" %></li>
            <% else %>
          <li> <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %></li>
           <% end %>
           
        </ul>
      </nav>
    </div>
  </div>
</header>